@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/metro-bootstrap.css" />
<link href="~/css/metro-bootstrap-responsive.css" rel="stylesheet" />
<link href="~/css/iconFont.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/core.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />
<link href="~/Content/animate.min.css" rel="stylesheet" />

<style>
    .panel {
        box-shadow: 10px 10px 30px lightblue;
        border-color: lightblue;
        border-radius:20px;
        width:55%;
        padding-left:2%;
    }
</style>
<br />
<br />
<br />
<br />
<div style="padding-left:25%;">
    <div class="panel panel-success">
        <div class="panel-body">
            <h4>@ViewBag.Title.</h4>
            <hr />
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>

</div>