<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://homefinal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>homefinal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>homefinal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$homefinal</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HomeDataBase" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:e2yba340do.database.windows.net,1433;Initial Catalog=homefinal;User ID=Home@e2yba340do;Password=Microsoft@516" Name="Data Source=tcp:e2yba340do.database.windows.net,1433;Initial Catalog=homefinal;User Id=Home@e2yba340do;Password=Microsoft@516" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Home.Models.ApplicationDbContext, Home" MigrationConfiguration="Home.Migrations.IdentityFolder.Configuration, Home" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HomeDataBase-Web.config Connection String">
      <ParameterValue>Data Source=tcp:e2yba340do.database.windows.net,1433;Initial Catalog=homefinal;User Id=Home@e2yba340do;Password=Microsoft@516</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>